@import "src/_variables.scss";

.header {
  height: 100%;
  &__container {
    gap: 20px;
    height: 100%;
  }
  &__icon {
    color: $white;
    font-size: 40px;
  }

  &__title {
    color: $white !important;
    margin: 0 !important;
  }
}
